<div class="search">
	<form action="//google.com/search" method="get" accept-charset="UTF-8">
		<input type="hidden" name="q" value="site:http://w3cboy.com">
		<input type="text" name="q" results="0" placeholder="请输入关键字">
		<button type="submit">搜索</button>
	</form>
</div>