<% if (site.tags.length){ %>
<div class="tags">
	<h3 class="title">标签</h3>
	<div class="tag-list">
		<% site.tags.sort('name').each(function(item){ %>
			<a href="<%- config.root %><%- item.path %>"><%= item.name %></a>
		<% }); %>
	</div>
</div>
<% } %>